
.icon-phone:before { content: '\e800'; } /* '' */
.icon-google:before { content: '\e801'; } /* '' */
.icon-youtube:before { content: '\e802'; } /* '' */
.icon-facebook-circled:before { content: '\f051'; } /* '' */
.icon-skype:before { content: '\f17e'; } /* '' */
.icon-at:before { content: '\f1fa'; } /* '' */
.icon-icq:before { content: '\f304'; } /* '' */
.icon-twitter-circled:before { content: '\f30a'; } /* '' */
.icon-gplus-circled:before { content: '\f310'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */